# Владелец кода Cajeer.

* @CajeerTeam/CajeerTeam
/bots/ @CajeerTeam/Cajeer404
/core/ @CajeerTeam/Cajeer404
/distributed/ @TheSkiF4er
/modules/ @CajeerTeam/Cajeer404
/ops/ @CajeerTeam/Cajeer404
/plugins/ @CajeerTeam/Cajeer404
/scripts/ @CajeerTeam/Cajeer404
/tests/ @CajeerTeam/Cajeer404
/wiki/ @CajeerTeam/CajeerTeam
/.github/ @CajeerTeam/CajeerTeam
