# Владельцы кода Cajeer.
# Если в организации нет команд ниже, замените их на аккаунты сопровождающих.

* @CajeerTeam/CajeerTeam
/bots/ @CajeerTeam/Cajeer404
/core/ @CajeerTeam/Cajeer404
/modules/ @CajeerTeam/Cajeer404
/ops/ @CajeerTeam/Cajeer404
/plugins/ @CajeerTeam/Cajeer404
/runtime/ @CajeerTeam/Cajeer404
/scripts/ @CajeerTeam/Cajeer404
shared
/wiki/ @CajeerTeam/CajeerTeam
/.github/ @CajeerTeam/CajeerTeam
